<p> hello world </p>
<% if user_signed_in?%>
	<em>Welcome <%= current_user.email %></em>
<% end %>
<div data-controller='hello'></div>
<% if user_signed_in?%>
	<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to 'Sign In', new_user_session_path %>
<% end %>

