/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
}

.notice, .alert{
  padding: 1vw 2vw;
}

.notice{
  color: green;
}

.alert{
  color: red;
}

a{
  text-decoration: none;
}

.nav{
  background-color: dodgerblue;
  padding: 2vw 4vw;
  font-weight: 400;
  font-size: 1.5rem;

  a{
    color: #2E2F30;
    margin-bottom: 0;
  }
}

.center-page{
  text-align: center;
  padding-top: 30vh;
}

.sign-btn{
  background-color: dodgerblue;
  color: lightcyan;
  border: 1px solid black;
  border-radius: 2px;
  padding: 6px 10px;
}

.sign-btn:hover, .sign-btn:focus{
  color: #2E2F30;
  border-color: dodgerblue;
}

.the-box{
  margin: 5vw auto;
  width: 40vw;
  padding: 3vw 7vw;
  border: 1px solid #666666;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 10px #AAAAAA;

  h3{
    text-align: center;
    margin-bottom: 2vw;
    color: dodgerblue;
  }

  label{
    color: #666666;
  }

  .box-type{
    width: 100%;
    background-color: #EEEEFF;
    border: 0.002rem solid #2E2F30;
    margin-bottom: 1vw;
    padding: 3px 6px;
  }

  .box-type:focus{
    outline: none;
    border-color: dodgerblue;
  }

  .rebmemer{
    margin-bottom: 2vw;
  }

  .actions{
    position: absolute;
    top: 50%;
    right: 20%;
  }

  .links{
    margin-top: 20%;
  }
}

hr{
  margin-top: 2vw;
}

.special-login-btns{
  margin-top: 3vw;

  .google_oauth2{
    $google-blue: #4285f4;
    background-color: $google-blue;
    border: 2px solid $google-blue;

    &:hover {
      box-shadow: 0 0 6px $google-blue;
    }
  }

  .github{
    $github-black: #333;
    background-color: $github-black;
    border: 2px solid $github-black;

    &:hover {
      box-shadow: 0 0 6px $github-black;
    }
  }

  button{
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
    position: relative;

    .icon-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 15%;
      height: 100%;
      border-radius: 2px;
      background-color: #fff;
    }
    .btn-icon {
      position: absolute;
      top: 17%;
      left: 17%;
      width: 65%;
      height: 65%;
    }
    .btn-text {
      padding: 3% 0 3% 10%;
      color: #fff;
      font-size: 1.1rem;
      letter-spacing: 0.2px;
      margin-bottom: 0;
      font-family: Sans-Serif;
    }
  }
}

.sign-up-box{
  padding-bottom: 10vw;

  .actions{
    top: 80%;
  }
}

@media only screen and (max-width: 700px){
  .nav{
    justify-content: center;
  }

  .the-box{
    margin: 10vh auto;
    width: 80vw;
    font-size: 1rem;

    h3{
      margin-bottom: 5vh;
    }

    .actions{
      right: 10%;
    }

    .box-type{
      width: 100%;
      margin-bottom: 2.5vh;
    }
  }

  .special-login-btns{
    text-align: center;

    button{
      width: 90%;

      .btn-text{
        font-size: 1rem;
      }
    }
  }

  hr{
    margin-bottom: 4vh;
  }

  .sign-up-box{
    padding-bottom: 8vh;

    .actions{
      top: 85%;
    }
  }
}
